
@{
    ViewBag.Title = "Document_Checkout";
}
<style>
    body {
        background: #333;
    }

    .form_bg {
        background-color: #eee;
        color: #666;
        padding: 20px;
        border-radius: 10px;
        position: absolute;
        border: 1px solid #fff;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 320px;
        height: 325px;
    }

    .align-center {
        text-align: center;
    }
</style>

@{
    if (ViewBag.msg !=null)
    {
        <script type="text/javascript">
            alert('@ViewBag.msg');
        </script>
    }
}
@using (Html.BeginForm("DocumentCheckout", "User", FormMethod.Post))
{
    <div class="container">
    <div class="row">
        <div class="form_bg">
            <form>
                 <h2 class="text-center">Document Checkout</h2>
                <br/>                
                <div class="form-group">
                    <input type="text" class="form-control" name="docId" id="docId" placeholder="Enter document id">                    
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="copyNo" id="copyNo" placeholder="Enter copy no">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="libId" id="libId" placeholder="Enter branch id">
                </div>                
                <br/>
                <div class="align-center">
                    <button type="submit" class="btn btn-default" id="btnChkOut">Checkout</button>
                    @Html.ActionLink("Back", "Main", "User", new { @class = "btn btn-default" })
                </div>
            </form>
        </div>
    </div>
</div>
}

