
@{
    ViewBag.Title = "Home";
}
<div class="container body-content">
    <h2>Welcome to City Library</h2>
    <div class="table-hover">
        <table>
            <tr>
                <td>@Html.ActionLink("I am a User", "Index", "User")</td>
            </tr>
            <tr>
                <td>@Html.ActionLink("I am the admin", "Index", "Admin")</td>
            </tr>
        </table>
    </div>
</div>



